
/* Registration Form Styling */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.form-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-card:hover,
.form-card:focus-within {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 8px;
}

.form-input {
    width: 94%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus {
    border-color: #ff4757;
    box-shadow: 0px 0px 8px rgba(255, 71, 87, 0.5);
    outline: none;
}

.form-input.error {
    border-color: #f87171;
}

.form-error {
    color: #f87171;
    font-size: 14px;
    margin-top: 5px;
}

.submit-btn {
    width: 100%;
    background-color: #ff4757;
    color: white;
    border: none;
    padding: 12px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #e84118;

}

